*,
*::after,
*::before {
  box-sizing: border-box;
  outline: none !important;
}
iframe,
object,
embed {
  border: none;
  width: 100%;
}
textarea,
input {
  -webkit-appearance: none;
}
img {
  image-orientation: from-image;
}
html,
body {
  background-color: #fff;
  max-width: 100%;
  position: relative;
}
body {
  color: #4a4a4a;
  margin: 0;
  font-family: "Replica-Regular";
  &.page {
    margin: 0;
  }
}
a,
a:hover,
a:focus {
  color: inherit;
  transition: all 0.5s;
  text-decoration: none;
  outline: none;
}
button,
button:hover,
.btn,
.btn:hover {
  transition: all 0.25s;
  outline: none;
  font-family: "Replica-Regular";
  line-height: 1;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.title-page {
  font-size: 38px;
  font-family: "Replica-Bold";
  max-width: 480px;
  line-height: 1.1;
  margin-bottom: 63px;
  max-width: 250px;
  @media (min-width: 768px) {
    font-size: 61px;
    max-width: 500px;
    margin-bottom: 25px;
  }
  @media (min-width: 1024px) {
    font-size: 68px;
  }
}
.subtitle-page {
  font-family: "Replica-Regular";
  font-size: 19px;
  margin-bottom: 38px;
  max-width: 450px;
}
.section-title {
  font-size: 30px;
  line-height: 1;
  color: $tkaw-blue;
  margin-bottom: 50px;
  font-family: "Replica-Bold";
  @media (min-width: 1024px) {
    font-size: 38px;
    line-height: 1.5;
  }
}
.section-subtitle {
  color: #4b4b4b;
  font-family: "Replica-Regular";
  font-size: 24px;
  margin-bottom: 15px;
  &.color-green {
    // color: $medicinal-green;
    color: #40ccb5;
  }
}
.section-txt {
  color: #4b4b4b;
  font-family: "Replica-Regular";
  font-size: 24px;
  margin-bottom: 15px;
}
.font-light {
  font-family: "Replica-Light";
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #4b4b4b;
  border-radius: 2rem;
  font-size: 16px;
  padding: 16px 50px;
  max-width: max-content;
  &:hover {
    color: #fff;
    background-color: #37617a;
  }
  &.bg-red {
    color: #fff;
    background-color: #ff6573;
  }
}
.close-btn {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 9;
  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 1px;
    height: 100%;
    left: 14px;
    top: 0;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}
.active-menu {
  .overlay {
    content: "";
    background: rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
}
.cookie-section {
  display: none;
  max-width: 100%;
  background: rgb(233, 247, 245);
  color: #37617a;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
  @media (min-width: 768px) {
    right: 20px;
    max-width: 380px;
  }
  .cookie-wrap {
    position: relative;
    padding: 60px 25px 60px;
    @media (min-width: 768px) {
      padding: 40px 25px 25px;
    }
  }
  &.show {
    display: block;
  }
  .close-btn {
    display: block;
    cursor: pointer;
    &::before,
    &::after {
      background-color: #4b4b4b;
    }
  }
  .cookie-title {
    font-family: "Replica-Bold";
    margin-bottom: 10px;
  }
  .txt {
    font-family: "Replica-Light";
    margin-bottom: 20px;
    font-size: 14px;
  }
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}
