.contact-section {
  padding: 100px 0 25px;
  box-shadow: 0 -10px 30px -10px #d2d2d2;
  position: relative;
  .section-subtitle {
    font-size: 16px;
    margin-bottom: 21px;
  }
  .contact-col {
    font-family: "Replica-Regular";
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    @media (min-width: 1200px) {
      padding-right: 45px;
    }
  }
  .social-list {
    @media (max-width: 767px) {
      justify-content: center;
    }
    li {
      & + li {
        margin-left: 25px;
      }
    }
    a {
      border-radius: 50%;
      box-shadow: 3px 3px 5px 0px #d8cfcf;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      max-width: 42px;
      max-height: 42px;
      padding: 20px;
      transition: all 0.25s;
      font-size: 18px;
      color: #4b4b4b;
      &:hover {
        color: #fff;
        background-color: #37617a;
      }
    }
  }
  .contact-img {
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .copyright {
    font-size: 14px;
    color: #4b4b4b;
    margin-top: 22px;
    font-family: "Replica-Light";
    @media (max-width: 767px) {
      text-align: center;
    }
  }
  .emergency-btn {
    @media (max-width: 870px) {
      flex-direction: column;
      align-items: center;
    }
    @media (max-width: 767px) {
      flex-direction: row;
    }
  }
  .btn {
    padding: 10px 0;
  }
  .mob-btn {
    @media (max-width: 767px) {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      color: #4b4b4b;
      border-radius: 2rem;
      font-size: 16px;
      padding: 10px 0;
      box-shadow: 3px 3px 5px 0 #d8cfcf;
      max-width: 100%;
    }
  }
}
.backtop-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: #fff;
  color: #4b4b4b;
  box-shadow: 0px -3px 8px -5px #d8cfcf;
  width: 46px;
  height: 46px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: -25px;
  right: 0;
  left: 0;
  margin: auto;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
}
