.facts-section {
  background-image: url(../images/Hintergrund_Desktop2.jpg);
  padding: 46px 0 100px;
  margin-bottom: 135px;
  .facts-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 62px;
    .section-subtitle {
      font-size: 38px;
      font-family: "Replica-Bold";
      margin-bottom: 0;
      @media (min-width: 767px) {
        font-size: 52px;
      }
    }
    .txt-item {
      @media (max-width: 767px) {
        max-width: 50%;
      }
      & + .txt-item {
        @media (max-width: 1024px) {
          margin-left: 15px;
        }
        @media (max-width: 767px) {
          margin-left: 0;
        }
      }
    }
  }
  .section-subtitle {
    font-size: 20px;
    color: #fff;
    margin-bottom: 7px;
  }
  .section-title {
    color: #fff;
    margin-bottom: 85px;
  }
  .section-txt {
    color: #fff;
    font-family: "Replica-Bold";
    font-size: 20px;
    @media (min-width: 1024px) {
      font-size: 24px;
    }
  }
}
