.newsblog-section {
  margin-bottom: 135px;
  // padding: 0 250px 0 295px;
  @media (min-width: 768px) {
    margin-bottom: 150px;
  }
  .newsblog-wrap {
    display: flex;
    margin-bottom: 82px;
    @media (max-width: 767px) {
      flex-direction: column;
      margin-bottom: 55px;
    }
  }
  .img-wrap {
    width: 100%;
    @media (min-width: 768px) {
      max-width: 425px;
    }
    img {
      max-height: 230px;
      width: 100%;
      object-fit: cover;
      @media (min-width: 768px) {
        max-height: 367px;
      }
    }
  }
  .text-wrap {
    padding: 48px 20px 93px;
    width: 100%;
    @media (min-width: 768px) {
      padding: 87px 0 0 84px;
    }
  }
  .section-subtitle {
    font-size: 16px;
  }
  .section-title {
    font-size: 32px;
    color: #37617a;
    margin-bottom: 76px;
    @media (min-width: 768px) {
      font-size: 40px;
    }
  }
  .section-txt {
    font-family: "Replica-Bold";
    max-width: 340px;
    line-height: 1.37;
    font-size: 20px;
    @media (min-width: 768px) {
      font-size: 24px;
    }
  }
}
